.title-bar {
    text-align: center;
}

.main-menu {
    text-align: center;
    padding-top: 50px;
}

.slidecontainer {
    width: 100%;
    width: 500px;
}

.slider {
    margin-top: 33px;
}

.mood-sliders h2 {
    text-align: center;
}

.row-centered {
    text-align:center;
}





